body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 252, 252);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    width: 100%;
}

#button {
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(68, 68, 206);
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192);
}

a, a:visited {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}